<!DOCTYPE html>
<html>
    <head>
        <Title>local-cyber-feed</Title>
        <style>
            body { font-family: sans-serif; margin: 40px; line-height: 1.6; }
            .article { border-bottom: 1px solid #eee; padding: 10px 0;}
        </style>
    </head>
    <body>
    <h1>local-cyber-feeds</h1>

    <h2>Test Feeds</h2>
    <ul>
        {% for feed in feeds %}
            <li>{{ feed['title'] }}</li>
        {% endfor %}
    </ul>

    <hr>

    <h2>Recent Articles</h2>
    {% for article in articles %}
        <div class="article">
            <h3><a href="{{ article['link'] }}">{{ article['title'] }}</a></h3>
            <p>From: <em>{{ article['feed_name'] }}</em></p>
            <p>Date: <em class = "local-date" data-utc="{{ article['published_date'] }}">{{ article['published_date'] }} (UTC)</em></p>
        </div>
    {% endfor %}
</body>
<script>
    function convertToLocal() {

        const dateElements = document.querySelectorAll('.local-date');

        dateElements.forEach(el => {
            const utcString = el.getAttribute('data-utc');
            if (utcString) {
                const date = new Date(utcString + "Z"); 
                
                el.innerText = date.toLocaleString(undefined, {
                    dateStyle: 'medium',
                    timeStyle: 'short'
                });
            }
        });
    }

    // Run the function immediately
    convertToLocal();
</script>
</html>